

<h3>See transactions for...</h3>
<% for user in @users %>
<%= user.name %>
<%= user.budget_limit %>
<%= user.time_period_start %>
<%= user.time_period_end %>
<% end %>


<div>
  <table style="float: left">
    <tr>
      <th>Name</th>
      <th>Budget</th>
      <th>Days left</th>
    </tr>
    <% for user in @users %>
    <tr>
    <td><%= user.name %></td>
    <td><%= user.budget_limit %></td>
    <td><%= user.how_many_days %></td>
  <td><%= user.over_budget %></td>
</tr>
    <% end %>

  </table>
