

<h3>See transactions for...</h3>
<% for user in @users %>
<%= user.name %>
<%= user.budget_limit %>
<%= user.time_period_start %>
<%= user.time_period_end %>
<% end %>


<div>
  <table style="float: left">
    <tr>
      <th>Name</th>
      <th>Budget</th>
    </tr>
    <% for user in @users %>
    <tr>
    <td><%= user.name %></td>
    <td>
    <progress class="budget" max="100" value="<%= user.budget_percent %>">
      <strong><%= user.budget_percent %></strong>
    </progress>
  </td>
</tr>
    <% end %>

  </table>
