

<h3>Users</h3>


<div>
  <table style="float: left">
    <tr>
      <th>Name</th>
      <th>Budget</th>
      <th> <a href="/users/new">New user</a>
    </tr>
    <% for user in @users %>
    <tr>

    <td> <a href="/<%=user.id%>/transactions"><%=user.name%></a></td>
    <td style="inline">
    <progress class="budget" max="100" value="<%= user.budget_percent %>">
      <strong><%= user.budget_percent %></strong>
    </progress>
    <p><%= user.budget_percent.round() %>% spent</p>
  </td>
  <td> <a href="/users/show">Details</a> </td>
</tr>
    <% end %>

  </table>
<a href="/users/new" class="button">Create new users</a>
  <h2>
        Your total spend in <%= Date.today.strftime("%B") %> is £<%= @dec_transactions %>
      </br/></h2>
      Year to date: £<%= @transactions_sum %>
