

  <% if session[:id] && @user.has_used_account()%>
  <h4>You earn £<%=@user.annual_income%> a year thus your monthly budget is <b> £<%= @user.monthly_budget_limit.round(2) %></b></h4>
  <div class="budget_warning">
    <h4><%=Date.today.strftime("%B")%>: You have spent £<%= @user.spent_on_current_month() %> and have £<%= @user.budget_left.round(2) %> left in your budget.</h4>
  </div>

  <% if @user.budget_left == 0 %>
  <h4 id="overspent"> You have overspent </h4>
  <% elsif @user.budget_percent() > 75 %>
  <h4 id="warning"> Tighten your purse strings a bit </h4>
  <% end %>



        <h4>You have spent most on <%= Category.find(Transaction.total_spent_user_category(@user)).name %></h4>

        <h4> Your total spending is <%= @user.spent_yearly() %> </h4>

  <form action="/transactions/month_total" method="post">
        <label for="monthly_spend">Check monthly spend for</label>
        <select name="month" id="monthly_spend">
          <% [*1..12].each do |month| %>
            <option value="<%=month%>"><%=Date::MONTHNAMES[month]%></option>
          <% end %>
        </select>
      </select>
      <input type="submit" name="" value="Find out">
  </form>

  <% if @show_month %>
  <%= erb(:'transactions/shared/monthly_spend') %>
  <% end %>

  <!-- <form action="/<%=@user.id%>/transactions/month_total" method="post">
        <label for="monthly_spend">Check monthly spend for</label>
        <select name="month" id="monthly_spend">
          <% [*1..12].each do |month| %>
            <option value="<%=month%>"><%=Date::MONTHNAMES[month]%></option>
          <% end %>
        </select>
      </select>
      <input type="submit" name="" value="Find out">
  </form> -->


<a href="/transactions/filter_Category" style="
text-decoration: none">Order By Category</a>

<%= erb(:'shared/transaction_table') %>

<% else %>
<h2> You need to enter some of your spending. </h2>
<a href="/transactions/new" style="
text-decoration: none">Add entry</a>
<% end %>
