
<form class="" action="/transactions/<%=@transaction.id%>" method="post">

  <input type="hidden" name="account_id" value="<%=session[:id]%>" id="name_input">
  <br>
  <label for="name_input">Name</label>
  <input type="text" name="name" value="<%= @transaction.name%>" id="name_input">
  <br>

 <label for="value_input">How much?</label>
 <input type="number" name="value" value="<%= @transaction.value %>" id="value_input">
 <br>

 <label for="transaction date">Date</label>
<input type="date" name="transaction_date" value="<%= @transaction.transaction_date %>">


 <label for="merchant_select">Merchant</label>
 <input type="text" name="merchant" value="<%= @transaction.merchant %>">


 <label for="category_select">Categories</label>
  <select name="category_id" id="category_select" selected = "<%= @transaction.category_id %>">
    <% @categories.each do |category| %>
     <option value="<%= category.id %>" <%= "selected" if category.id == @transaction.category_id %>><%= category.name %></option>

   <% end %>
  </select>
 <br>
  <input type="submit" name="" value="Save">
</form>
