<table class="table-fill">
  <thead>
    <tr>
      <th class="text-left">User</th>
      <th class="text-left">Date</th>
      <th class="text-left">Description</th>
      <th class="text-left">Amount</th>
      <th class="text-left">Category</th>
      <th class="text-left">Merchant</th>
</tr>
  </thead>
  <tbody class="table-hover">
    <% for transaction in @transactions %>
    <tr>
      <td class="text-left"> <%= transaction.account_name %></td>
      <td class="text-left"> <%= DateFormatter.us_to_uk(transaction.transaction_date) %></td>
      <td class="text-left"> <%= transaction.name %></td>
      <td class="text-left"> <%= transaction.value %></td>

      <td class="text-left"> <%= transaction.tag.name %></td>
      <td class="text-left"> <%= transaction.merchant.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
