
  <h2>

        Your total spend in <%= Date.today.strftime("%B") %> is £<%= @monthly_spend  %>
      </br/></h2>
      <h2>You spent most on <%= Tag.find(Transaction.total_spent_user_tag(@user)).name %></h2>
<%= Transaction.total_spent() %>

<a href="/<%=@account_id%>/transactions/filter_tag">Order By Tag</a>
<%= erb(:'transactions/shared/table') %>

<div class="table-title">
<h3>All transactions</h3>
</div>


<%= Transaction.transaction_by_month(12) %>
