

<%= Transaction.total_spent() %>
<table>
  <tr>
    <th>How Much?</th>
    <th></th>
    <th>When></th>
    <th></th>
    <th>Tag</th>
    <th></th>
    <th>Merchant</th>
    <th></th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction.name %></a></td>
    <td><%= transaction.value %></a></td>
    <td><%= transaction.transaction_date %></a></td>
    <td><%= transaction.tag.name %></td>
    <td>|</td>
    <td><%= transaction.merchant.name %></td>
  </tr>
  <% end %>

</table>
<!--  broken -->
