
<form class="" action="/<%=@account_id%>/transactions" method="post">
  <%= @account_id %>
  <label for="description_input">Description</label>
  <input type="text" name="name" value="" id="description_input">
  <br>

 <label for="value_input">How much?</label>
 <input type="number" name="value" step="any" min="0" value="" id="value_input">
 <br>

 <label for="merchant_select">Merchant</label>
 <select class="" name="merchant_id" id="merchant_select">
   <% @merchants.each do |merchant| %>
  <option value="<%= merchant.id %>"><%= merchant.name %></option>
  <% end %>
 </select>
<br>

<label for="tag_select">Tag</label>
 <select name="tag_id" id="tag_select">
   <% @tags.each do |tag| %>
  <option value="<%= tag.id %>"><%= tag.name %></option>
  <% end %>
 </select>
 <br>
  <input type="submit" name="" value="Save">
</form>
