

<a href="/transactions/<%=@transaction.id%>/edit" style="text-decoration: none">Edit</a>


<p><%= @transaction.name %>
<%= @transaction.value %>
<%= @transaction.transaction_date %>
<%= @transaction.merchant %>
<%= @transaction.category.name %>
</p>

<form method="post" action="/transactions/<%=@transaction.id%>/delete">
  <input type="submit" value="Delete"/>
</form>
