

<a href="/transactions/<%= @transaction.id %>/edit" style="
text-decoration: none">Edit</a>


<p><%= @transaction.name %>
<%= @transaction.value %>
<%= @transaction.transaction_date %>
<%= @transaction.merchant %>
<%= @transaction.category.name %>
</p>

<form method="post" action="/transactions/<%= @transaction.id %>/delete">
  <input type="submit" value="Delete"/>
</form>
<!-- @id = options['id'].to_i if options['id']
@name = options['name']
@value = options['value']
@transaction_date = options['transaction_date']
@merchant_id = options['merchant_id'].to_i()
@Category_id = options['Category_id'].to_i()
@account_id = options['account_id'] -->
