<table class="table-fill">
  <thead>
    <tr>
      <% if @account_name %><th class="text-left">User</th><%end%>
      <th class="text-left">Date</th>
      <th class="text-left">Description</th>
      <th class="text-left">Amount</th>
      <th class="text-left">Category</th>
      <th class="text-left">Merchant</th>
</tr>
  </thead>
  <tbody class="table-hover">
    <% for transaction in @transactions %>
    <tr>
      <% if @account_name %><td class="text-left"> <%= transaction.account_name%></td><%end%>
      <td class="text-left"> <%= DateFormatter.us_to_uk(transaction.transaction_date)%></td>
      <td class="text-left"> <%= transaction.name %></td>
      <td class="text-left"> <%= transaction.value %></td>

      <td class="text-left"> <%= transaction.category.name %></td>
      <td class="text-left"> <%= transaction.merchant %></td>
      <td class="text-left"> <a href="/transactions/<%= transaction.id %>" style="
text-decoration: none">Details</a> </td>
    </tr>
    <% end %>
  </tbody>
</table>
